.cards {
	// gap: .25rem;
	
	.card {
		width: 50%;
		padding: .125rem;
		
		.card-image-thumb {
			width: 100%;
			
			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}
		
		.card-info {
			padding: 0 1rem;
		}
	}
}