@import 'fonts';
@import 'reset';
@import 'base';
@import 'colors';
@import 'grid';
@import 'common';
@import 'loading';
@import 'buttons';
@import 'typography';
@import 'cards';

/* app styles */
.site-header {
	padding: .5rem 0;
	border-bottom: 3px solid var(--blue);

	.logo {
		svg {
			transition: all 0.3s;
		}

		&:hover,
		&:focus {
			svg {
				filter: invert(28%) sepia(96%) saturate(594%) hue-rotate(161deg) brightness(101%) contrast(97%);
			}
		}
	}
}